.container {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    color: #fff;
    padding: 0 1rem;
    transition: background-color .3s ease;
}

.wrapper {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logoTitle {
    font-size: 1.5rem;
}

.picture {
    filter: invert(1);
}

.nav {
    display: flex;
    gap: 1.4rem;
}

.burgerButtonWrapper {
    display: none;
}

.activeWrapper {
    color: #000;
}

.activeContainer {
    background-color: var(--background-light-color);
}

.mobileMenu {
    display: none;
}

@media (max-width: 825px) {
    .burgerButtonWrapper {
        height: 100%;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .burgerButton {
        width: 44px;
        height: .2rem;
        background-color: #fff;
        border-radius: 1rem;
    }

    .burgerButton::after {
        content: "";
        width: 44px;
        height: .2rem;
        background-color: #fff;
        border-radius: 1rem;
        position: absolute;
        top: 1.3rem;
        left: 0;
    }

    .burgerButton::before {
        content: "";
        width: 44px;
        height: .2rem;
        background-color: #fff;
        border-radius: 1rem;
        position: absolute;
        bottom: 1.3rem;
        left: 0;
    }

    .nav {
        display: none;
    }

    .mobileMenu {
        width: 100vw;
        height: calc(100vh - 4.5rem);
        position: absolute;
        top: 4.5rem;
        left: 0;
        z-index: 3;
        background-color: var(--background-light-color);
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;
    }

    .mobileMenuHidden {
        display: none;
    }
}